{% extends 'base.html' %}
{% load bootstrap3 %}


{#Using Plaid Link#}
{#https://github.com/plaid/link#step-1-get-your-public_key#}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">
                Connect to Plaid
            </h1>
        </div>
        <div class="panel-body">

            <!-- A hidden input named public_token will be appended to this form
once the user has completed the Link flow. Link will then submit the
form, sending the public_token to your server. -->
            <form id="plaid-link-form-id" method="GET" action="{% url 'plaid-link-submit' %}"></form>

            <script
                    src="https://cdn.plaid.com/link/stable/link-initialize.js"
                    data-client-name="{{ client_id }}"
                    data-form-id="plaid-link-form-id"
                    data-key="{{ public_key }}"
                    data-product="{{ product }}"
                    data-env="{{ env }}">
            </script>


        </div>
        <div class="panel-footer">
            <a href="/">< Home</a>
        </div>
    </div>
{% endblock %}


{##}
{#            <h3>Userplan</h3>#}
{#            <form action="" method="post">#}
{#                {% csrf_token %}#}
{#                {% bootstrap_form form %}#}
{#                {% buttons submit='Save' %}#}
{#                    {% if userplan %}#}
{#                        <span style="float:right">#}
{#                        <a href="{{ userplan.get_absolute_url }}delete" class="btn btn-danger"><i class="fa fa-trash"></i></a>#}
{#                        </span>#}
{#                    {% endif %}#}
{#                {% endbuttons %}#}
{#            </form>#}
