{% extends 'planman/../base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="col-sm-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please sign in</h3>
            </div>
            <div class="panel-body">
                {% if user.is_authenticated %}
                <p>{{ user.username }}, you are already logged in.  Please <a href="{% url 'logout' %}">logout</a> first</p>
                {% else %}
                <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form-signin">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <input type="hidden" name="next" value="{% url 'userplan-list' %}"/>
                </form>
                {% endif %}
            </div>
            <div class="panel-footer" style="text-align: center">
                <p>
                    <a href="{% url 'register' %}" style="color: dimgrey">New user?</a>
                    |
                    <a href="{% url 'password_reset' %}" style="color: dimgray">Lost password?</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}