{% extends 'planman/../base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Please sign in</h3>
        </div>
        <div class="panel-body">
            <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form-signin">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <input type="hidden" name="next" value="{% url 'userplan-list' %}"/>
            </form>

        </div>
    </div>

{% endblock %}